<div class="fl toolbar">
    <ul class="menu">
        <li>
            <button class="btn btn-default">ROLL DICE</button>
        </li>
        <li>
            <button class="btn btn-default">ENTER ROOM</button>
        </li>
        <li>
            <button class="btn btn-default">SUGGEST</button>
        </li>
        <li>
            <button class="btn btn-default">ACCUSE</button>
        </li>
        <li>
            <button class="btn btn-default" ng-click="nextPlayer()">END TURN</button>
        </li>
    </ul>
</div>