html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 15px;

    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-style: solid;
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fl {
    float: left;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;

}

.toolbar {
    position: fixed;
    bottom: 0;
    margin-left: 25%;
    z-index: 100;
}

.side-bar {
    width: 25%;

    height: 100%;
    background-color: #ededed;
}

.side-bar > div {
    height: 100%;
}

.side-bar header {
    background-color: #ffffff;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.18);
    height: 70px;
    position: relative;
    z-index: 1;
}

.game-panel {
    width: 75%;

    min-height: 100%;
    background-color: #F9E699;
}

#board {
    background: url(../gfx/fullmap.png)0 0 no-repeat;
    width: 528px;
    height: 550px;
    margin: auto;

}

.col {
    height: 20px;
    width: 20px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.row {
    height: 20px;
    width: 528px;
}

.walkable {
    /*background-color: #BCE8F1;*/
}

.wall {
    /*background-color: #1F1F1F;*/
}

.side-bar-players {
    list-style: none;
    padding: 25px 0px 0px 20px;
    overflow-y: auto;
    height: 85%;
    margin-top: 0;
    position: relative;
}

.side-bar-players li {

    padding: 0;
    margin: 0 0 20px 0;
    padding: 0;
    height: 100px;
}

.side-bar-players li:last-child {
    margin-bottom: 50px;
}

.thumbnail {
    width: 135px;
    height: 100px;
    margin-right: 10px;
}

.thumbnail.mustard {
    background-image: url("../gfx/thumb-mustard.jpg");
}

.thumbnail.green {
    background-image: url("../gfx/thumb-green.jpg");
}

.thumbnail.plum {
    background-image: url("../gfx/thumb-plum.jpg");
}

.thumbnail.scarlett {
    background-image: url("../gfx/thumb-scarlett.jpg");
}

.thumbnail.white {
    background-image: url("../gfx/thumb-white.jpg");
}

.thumbnail.peacock {
    background-image: url("../gfx/thumb-peacock.jpg");
}

.menu-button {
    background-image: url("../gfx/menu-side-bar.png");
    width: 25px;
    height: 17px;
    float: right;
    margin-right: 20px;
    margin-top: 26px;
}

.icon.mustard {
    background-color: sandybrown;;
    border-radius:5px;
}

.icon.green {
    background-color: darkgreen;;
    border-radius:5px;
}

.icon.plum {
    background-color: darkviolet;;
    border-radius:5px;
}

.icon.scarlett {
    background-color: orangered;;
    border-radius:5px;
}

.icon.white {
    background-color: whitesmoke;;
    border-radius:5px;
}

.icon.peacock {
    background-color: coral;
    border-radius:5px;
}

.suggestion-panel {
    position: relative;
    z-index: 3;
    width: 500px;
    background-color:#FFFFFF;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*color:whitesmoke;*/
    padding: 30px;
    margin: auto;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.18);
    top: 150px;

}
